nav {
  text-align: center;
  width: 100%;
  align-self: center;
  font-size: 1.1em;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0 !important;
}

li {
  display: inline;
}

header button {
  outline: none;
  border: none;
  width: 50%;
  background-color: transparent;
  color: white;
  padding: 0;
}

.buu {
  cursor: pointer;
  margin: 5% 43% 0 0;
  
}

.buu:hover {
  opacity: 0.6 !important;
}

.bur {
  width: 24px;
  height: 4px;
  background-color: #ffb900;
  margin: 4px 0;
}


#pic {
  background-image: url(splash.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
